{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans "Consent page for attribute propagation" %} {% endblock %}

{% block content %}


{% load i18n %}
<div id="consent">
<form method="post" action="">

<p>
{% trans "Choose attributes to send to " %} <strong>{{ provider_id }}</strong> ?

<ul>
{% for i, name, values in attributes %}
<li>
{% if allow_selection %}
<input type="checkbox" name="attribute_nb_{{ i }}" value="{{ i }}" checked="checked"/>
{% endif %}
{{ name }} : <strong>{% for v in values %}{{ v }} {% endfor %}</strong></li>
{% endfor %}
</ul>

</p>

<input type="hidden" name="next" value="{{ next }}" />
<input type="hidden" name="nonce" value="{{ nonce }}" />
{% if allow_selection %}
<input type="submit" name="accept" value="{% trans 'Send selected' %}"/>
{% else %}
<input type="submit" name="accept" value="{% trans 'Send all' %}"/>
{% endif %}
<input type="submit" name="refuse" value="{% trans 'Refuse all' %}"/>
</form>
</div>

{% endblock %}
