html, body {
	margin: 0;
	background: white;
	color: black;
}

div#wrap {
	width: 40em;
	margin: 5em auto;
	-moz-border-radius: 6px;
	-webkit-border-radius:6px;
	-moz-box-shadow: 0 0 4px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.75);
}

div#header {
	background: #eee;
	text-align: center;
	padding: 2ex;
}

div#header h1 {
	font-weight: normal;
}

div#content {
	margin: 1em 1ex;
	padding: 1ex;
}

div#content h2 {
	margin-top: 0;
	font-weight: normal;
}

div#footer {
	text-align: center;
	margin-top: 3em;
	font-size: 50%;
	color: #333;
	background: #eee;
	padding: 3em;
}

form p {
	margin: 0 0 1em 0;
}

form p label {
	display: block;
}

form p input,
form p textarea {
	margin-left: 10px;
}

form ul.errorlist {
	margin: 0;
	padding: 0;
	color: red;
	font-weight: bold;
	list-style: none;
}

input {
	padding: 5px;
	border: 1px solid #cccccc;
	color:#666666;
}

textarea {
	font: 120% Arial, Helvetica, sans-serif;
	border: solid 1px #cccccc;
	padding: 5px;
	color:#666666;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus {
	border: 1px solid #4690d6;
	color:#333333;
}

input[type=submit] {
	color: #ffffff;
	background:#4690d6;
	border: 1px solid #4690d6;
	font-weight: bold;
	height: 25px;
	padding: 2px 8px 2px 8px;
	margin:10px;
	cursor: pointer;
}

