{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Logout" %}
{% endblock %}
{% block bodyargs %}onload="setTimeout(function () { window.location='{{ next_page }}' }, {{ redir_timeout }})"{% endblock %}

{% block content %}

<h1>{% trans "Logging out" %}</h1>
<ul class="logout-list">
    {% for fragment in logout_list %}
        {{ fragment|safe }}
    {% endfor %}
</ul>

<div id="message">{% trans message %}</div>

<div id="continue-link"><a href="{{ next_page }}">{% trans "Continue logout" %}</div>

{% endblock %}
