recursive-include locale *
recusrive-include tests *.dp *.py
recursive-include templates *.html *.txt *.js yadis.xrdf
recursive-include media *.css *.js *.ico *.gif *.png *.jpg README
recursive-include authentic2 README *.html
include authentic2/sslauth/authentic_ssl.vhost
include ez_setup.py
include COPYING
include README.rst
