recursive-include data *
recursive-include tests *.db *.py
recursive-include media *.css *.js *.ico *.gif *.png *.jpg README
recursive-include authentic2 README fixtures/*.json templates/*.html templates/*/*.html js/*.js templates/*/*/*.html locale/*/*/*.po xrds.xml *.txt yadis.xrdf
include authentic2/sslauth/authentic_ssl.vhost
include COPYING
include README.rst
include AUTHORS.txt
include authentic2/vendor/oath/TODO
include authentic2/vendor/totp_js/README.rst
include diagnose.py
include authentic2/auth2_auth/auth2_ssl/authentic_ssl.vhost
