recursive-include tests *.db *.py
recursive-include templates *.html *.txt yadis.xrdf
recursive-include media *.css *.js *.ico *.gif *.png *.jpg README
recursive-include authentic2 README fixtures/*.json templates/*/*.html js/*.js templates/*/*/*.html locale/*/*/*.po
include authentic2/sslauth/authentic_ssl.vhost
include COPYING
include README.rst
include locale
