{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Log in" %}
{% endblock %}

{% block content %}
<form method="post" action=".">
  {{ form.as_p }}

  <input type="submit" value="{% trans 'Log in' %}" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>


<p><a href="{% url user_signin_ssl %}">{% trans "Login with SSL" %}</a></p>
{% if HAS_AUTH_OPENID %}
<p><a href="{% url user_signin %}">{% trans "Login with OpenID" %}</a></p>
{% endif %}
<p>{% trans "Forgot password?" %} <a href="{% url auth_password_reset %}">{% trans "Reset it!" %}</a></p>
<p>{% trans "Not a member?" %} <a href="{% url registration_register %}">{% trans "Register!" %}</a></p>


<script type="text/javascript">
document.getElementById('id_username').focus();
</script>

{% endblock %}
