{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Log in" %}
{% endblock %}

{% block content %}
<form id="login-form" method="post" action=".">
  <ul class="errorlist">
    {% for error in form.non_field_errors %}
      <li>{{ error|escape }}</li>
    {% endfor %}
    {% for error in form.username.errors %}
      <li>{% trans "Username:" %} {{ error|escape }}</li>
    {% endfor %}
    {% for error in form.password.errors %}
      <li>{% trans "Password:" %} {{ error|escape }}</li>
    {% endfor %}
  </ul>
   {{ form.as_p }}

  <input type="submit" value="{% trans 'Log in' %}" class="submit" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>

<div class="login-actions">
<p>→ {% trans "Forgot password?" %} <a href="{% url auth_password_reset %}">{% trans "Reset it!" %}</a></p>
<p>→ {% trans "Not a member?" %} <a href="{% url registration_register %}">{% trans "Register!" %}</a></p>
</div>

<div id="alt-methods">
{% for method in alt_methods %}
<p><a href="{{ method.url }}">{% trans method.caption %}</a></p>
{% endfor %}
</div>

{% if providers_list %}
<div id="login-actions">
{% trans "Log in with a federated account?" %}
</div>
<div>
<form>
    <select name="list_providers" size="1" onChange="redirect_from_list(this.form)">
    <option selected="selected">{% trans "Tell me where!" %}</option>  
    {% for p in providers_list %}
        <option><a href="/authsaml2/selectProvider/{{ p.entity_id }}" >{{ p.entity_id }}</a></option>
    {% endfor %}
    </select>
</form>
</div>
{% endif %}

<script type="text/javascript">
document.getElementById('id_username').focus();
</script>

<script type="text/javascript">
function redirect_from_list(f) { if (f.list_providers.selectedIndex != 0) location.href = '/authsaml2/selectProvider/' + f.list_providers.options[f.list_providers.selectedIndex].value; }
</script>

{% endblock %}
