{% load i18n %}
<div id="login-oath">

<p>
{% blocktrans %}
Once you have created your account, log in with an other authentication method.
Then, in account management, follow the instructions to deploy the
One Time password authentication method.
{% endblocktrans %}
</p>

<div>
<form method="post" action="">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" name="{{ submit_name }}" value="{% trans "Log in" %}"/>
{% if cancel %}
<input type="submit" name="cancel" value="{% trans 'Cancel' %}"/>
{% endif %}
</form>
</div>

<div class="login-actions">
<p>→ {% trans "Forgot password?" %} <a href="{% url auth_password_reset %}">{% trans "Reset it!" %}</a></p>
<!--<p>→ {% trans "Not a member?" %} <a href="{% url registration_register %}">{% trans "Register!" %}</a></p>-->
</div>

</div>
