{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Associate OpenID" %}
{% endblock %}

{% block content %}
{% if msg %}
    <ul class="errorlist"> {{ msg.0 }}</ul>
{% endif %}

{% if form.errors %}
    <div class="errors"><p>{% trans "OpenID URL:" %} {{ form.openid_url.errors|join:', ' }}</p></div>
{% endif %}

{% if nb_associated_openids > 0 %}
<div class="login">
<form name = "fopenid" action = "." method= "post" />
    <fieldset>
        <legend>{% trans "Dissociate OpenID URL" %}</legend>
        <ul class = "NoBullet">
        {% for a_openid in associated_openids %}
        <li><input type = "checkbox" name = "a_openids" value = {{ a_openid }} /> {{ a_openid }} </li>
        {% endfor %}
        </ul>
        <input type="submit" value = "Dissociate OpenID" />
    </fieldset>
</form>
{% endif %}


<form name="openid_form" id="openid_form" action="." method="post">
    <input type="hidden" name="action" value="verify" />
    <input type="hidden" name="next" value="{{ next }}" />
	<fieldset>
		<legend>{% trans "Add a new OpenID account" %}</legend>
		<div id="openid_choice">
    		<p>{% trans "Please click your account provider:" %}</p>
    		<div id="openid_btns"></div>
    	</div>
    	<div id="openid_input_area">
            <label for="id_openid_url">{% trans "OpenId URL :" %}</label><br />{{ form.openid_url }}
            <input name="openid_submit" type="submit" value="{% trans "Add OpenID" %}">
		</div>
	</fieldset>
</form>	
</div>	
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/openid-jquery.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    openid.init('id_openid_url');
});
</script>
{% endblock %}
