{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Authentic" %}
{% endblock %}


{% block content %}

{% if account_management %}
<p>
  <a href="{% url account_management %}">{% trans "Account Management" %}</a>
</p>
{% endif %}


{% if authorized_services %}
  <div id="login-actions">
  <h2>{% trans "Services" %}</h2>
  <ul>
    {% for service in authorized_services %}
    {% if service.actions %}
    <li>{% if service.url %}<a href="{{ service.url }}">{% endif %}{{ service.name }}{% if service.url %}</a>{% endif %} 
    <div class="actions">
    {% for action in service.actions %}
      <form action="{{ action.2 }}" method="{{ action.1 }}">
        {% for key, value in action.3 %}
          <input type="hidden" name="{{ key }}" value="{{ value }}" />
        {% endfor %}
        <input type="hidden" name="next" value="/"/>
        <input type="submit" class="submit-link" value="{{ action.0 }}">
      </form>
    {% endfor %}
    </div>
    </li>
    {% endif %}
  {% endfor %}
  </ul>
  </div>
{% endif %}

{% if user.is_staff %}
<p id="administration-link"><a href="/admin">{% trans "Administration" %}</a></p>
{% endif %}

{% endblock %}
