{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Authentic" %}
{% endblock %}


{% block content %}

{% if account_management %}
<p>
  <a href="{% url account_management %}">{% trans "Account Management" %}</a>
</p>
{% endif %}


{% if authorized_services %}
  <div id="login-actions">
  <h2>{% trans "Services" %}</h2>
  <ul>
  {% for service in authorized_services %}
    <li><a href="{{ service.0 }}">{{ service.1 }}</a></li>
  {% endfor %}
  </ul>
  </div>
{% endif %}

{% endblock %}
