Source: authentic
Section: python
Priority: optional
Maintainer: Frederic Peters <fpeters@debian.org>
Build-Depends-Indep: python-all-dev (>= 2.3.5-11), python-central (>= 0.5.6)
Build-Depends: debhelper (>= 7.0.50~), quilt (>= 0.40), python-setuptools
XS-Python-Version: current, >= 2.3
Standards-Version: 3.8.3
Homepage: http://authentic.labs.libre-entreprise.org

Package: authentic
Architecture: all
Pre-Depends: python-django
Depends: ${misc:Depends}, ${python:Depends}, python-django-registration
XB-Python-Version: ${python:Versions}
Description: Versatile identity server
 Authentic is a versatile identity provider aiming to address a broad
 range of needs, from simple to complex setups; it has support for many
 protocols and can bridge between them.
 .
 It has support for ID-FF and SAMLv2 thanks to Lasso, a free (GNU GPL)
 implementation of the Liberty Alliance specifications.
