#!/usr/bin/make -f

d=$(CURDIR)/debian/authentic

%:
	dh --with quilt --with python-central $@

override_dh_install:
	dh_install

override_dh_pycentral:
	dh_pycentral
	touch $(d)/etc/authentic/local_settings.py
	ln -s /etc/authentic/local_settings.py $(d)/usr/share/pyshared/authentic/local_settings.py
	cp $(CURDIR)/debian/apache2.conf $(d)/usr/share/authentic/
	cp $(CURDIR)/debian/authentic.wsgi $(d)/usr/share/authentic/

