{% load i18n %}{% load openid %} <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery-ui.custom.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/ulx.css" />
    <title>{% block title %}User test{% endblock %}</title>
    {% openid_meta %}
    {% block extra_scripts %}
    {% endblock %}
</head>

<body {% block bodyargs %}{% endblock %} >
  <div id="wrap">
    <a href="/"><div id="header">
      {% block header %}
      <h1>Authentic</h1>
      <span>Identity Server</span>
      {% endblock %}
    </div></a>

    <div id="splash"></div>

    <div id="content">
        {% if not request.user.username == '' %}
        <div id="user">
          <p>{% blocktrans with request.user.username as username %}
             You are authenticated as {{ username }}.
             {% endblocktrans %}
          <a id="logout" href="{% url auth_logout %}">{% trans "Logout" %}</a></p>
        </div>
        {% endif %}
        {% block content %}{% endblock %}
    </div>

    <div id="footer">
        {% block footer %}
        Copyright &copy; 2010 Entr'ouvert
        {% endblock %}
    </div>
  </div>
</body>

</html>
