{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Authentic" %}
{% endblock %}


{% block content %}

<h2>{% trans "Account Management" %}</h2>

<ul>
 {% if user.password == '!' %}
 <li><a href="{% url authopenid_password_change %}">{% trans "Set password" %}</a></li>
 {% else %}
 <li><a href="{% url auth_password_change %}">{% trans "Change password" %}</a></li>
 {% endif %}
 <li><a href="{% url auth_logout %}">{% trans "Log out" %}</a></li>
 <li><a href="/accounts/openid/associate/">{% trans "Associate your account with an OpenID"  %}</a></li>
 {% if IDP_OPENID %}
   <li><a href="{% url manage_id %}">{% trans "Manage your openid identities" %}</a></li>
 {% endif  %}
</ul>

{% if providers_list_not_federated %}
<div class="login-actions">
{% trans "Federate your identity" %}
<form>
    <select name="list_providers" size="1" onChange="redirect_from_list(this.form)">
    <option selected="selected">{% trans "Tell me where!" %}</option>  
    {% for p in providers_list_not_federated %}
        <option>{{ p.entity_id }}</option>
    {% endfor %}
    </select>
</form>
</div>

<script type="text/javascript">
function redirect_from_list(f) { if (f.list_providers.selectedIndex != 0) location.href = '/authsaml2/selectProvider/' + f.list_providers.options[f.list_providers.selectedIndex].value; }
</script>

{% endif %} {# end of providers_list_not_federated #}

{% if providers_list_federated %}
<div class="login-actions">
{% trans "Defederate your identity" %}
<form>
    <select name="list_providers" size="1" onChange="redirect_from_list_defederation(this.form)">
    <option selected="selected">{% trans "Tell me where!" %}</option>  
    {% for p in providers_list_federated %}
        <option>{{ p.entity_id }}</option>
    {% endfor %}
    </select>
</form>
</div>

<script type="text/javascript">
function redirect_from_list_defederation(f) { if (f.list_providers.selectedIndex != 0) location.href = '/authsaml2/federationTermination/' + f.list_providers.options[f.list_providers.selectedIndex].value; }
</script>

{% endif %} {# end of providers_list_federated #}

{% if provider_active_session %}
<div id="login-actions">
{% trans "Global Logout" %}
<a href="/authsaml2/logout">{{ provider_active_session.entity_id }}</a>
</div>
{% endif %} {# end of provider_active_session #}


{% if authorized_services %}
  <div id="login-actions">
  <h2>{% trans "Services" %}</h2>

  <ul>
  {% for service in authorized_services %}
    <li><a href="{{ service.0 }}">{{ service.1 }}</a></li>
  {% endfor %}
  </ul>
  </div>
{% endif %} {# end of authorized_services #}

{% endblock %}
