{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Log in" %}
{% endblock %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div id="overlay"></div>
<a href="#" id="ulx-control" rel="loggedout"></a>
<dl id="popup">
	<dt>
		<span id="maintitle"></span>
		<span id="subtitle"></span>
		<a href="#" id="close">Close</a>
	</dt>
	<dd id="content2">Content Area 2</dd>
	<dd id="content">
		<p id="moretext"></p>
		<div id="scroller">
			{% for p in idp_providers %}
			<a href="/authsaml2/sso/{{ p.entity_id }}" rel="{{ p.name }}" title="{{ p.name }}">{{ p.name }}</a>
			{% endfor %}
		</div>
	</dd>
	<dd id="more" class="bottom"><a href="#" id="moreoptions">more options</a></dd>
	<dd id="search" class="bottom">
		<select id="loginsearch">
			{% for p in idp_providers %}
			<option>{{ p.name }}</option>
			{% endfor %}
		</select>
	</dd>
</dl>

<div id="tabs">
<ul>
{% for name, content in methods %}
<li><a href="#tabs-{{ forloop.counter }}">{% trans name %}</a></li>
{% endfor %}
</ul>
{% for name, content in methods %}
<div id="tabs-{{ forloop.counter }}">
{{ content|safe }}
</div>
{% endfor %}
</div>
<script type="text/javascript">
$( "#tabs" ).tabs({cookie: {path: '/'}});
</script>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.cookie.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/liquidmetal.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.flexselect.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/actions.js"></script>
{% endblock %}
