{% load i18n %}
		<div id="overlay"></div>
				
		<a href="#" id="ulx-control" rel="loggedout"></a>
		
		<dl id="popup">
			<dt>
				<span id="maintitle"></span>
				<span id="subtitle"></span>
				<a href="#" id="close">Close</a>
			</dt>
			<dd id="content2">Content Area 2</dd>
			<dd id="content">
				<p id="moretext"></p>
				<div id="scroller">
					<a href="login_google.html" rel="google"title="Google">www.google.com</a>
					<a href="login_yahoo.html" rel="yahoo" title="Yahoo">www.yahoo.com</a>
					<a href="login_windowsliveid.html" rel="windowsliveid" title="Windows Live ID">www.windows.com</a>
					<a href="login_paypal.html" rel="paypal" title="PayPal">www.paypal.com</a>
				</div>
			</dd>
			<dd id="more" class="bottom"><a href="#" id="moreoptions">more options</a></dd>
			<dd id="search" class="bottom">
				<select id="loginsearch">
					<option>Google</option>
					<option>Yahoo</option>
					<option>Windows Live ID</option>
					<option>PayPal</option>
				</select>
			</dd>
		</dl>
