{% load i18n %}
<h4>{% trans "SAML2 Federations" %}</h4>

<div>

{% if federations %}
<p>
<h5>Delete a federation?</h5>
{% for f in federations %}
<form action="authsaml2/delete_federation" method="post">
  <label for="id_del_fed">{{ f }}</label>
  <input type="hidden" name="fed" value="{{ f }}" />
  <input type="hidden" name="next" value="/profile" />
  <input type="submit" class="submit-link" value="{% trans "Delete" %}">
</form>
{% endfor %}
</p>
{% endif %}

{% if form %}
<p>
<h5>Add a federation?</h5>
<form method="post" action="">
{{ form.as_p }}
<input type="submit" name="{{ submit_name }}" value="{% trans "Log in" %}"/>
</form>
</p>
{% endif %}
</div>
