{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Manage OpenID" %}
{% endblock %}

{% load breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb_url 'Manage OpenID' manage_id %}
{% endblock %}

{% block content %}
{% if message %}
<ul class="errorlist">{{ message }}</ul>
{% endif %}
<p>
{% if nb_openids > 0 %}
<a href="/openid/manage/">Manage your trusted site</a>
</p>
<fieldset>
<legend>{% trans "Your current OpenID" %}</legend>
<p> Choose your identities to remove, be careful this will remove all the trusted site for these identities.
You can change your default OpenID by clicking on "Make Default"
</p>
<form action="." id="form1" method="post">
{% for key,value in openids.items %}
<p>  <h4> {{ uri }}{{ oipath }}/{{ value.caption }}/
    {% if value.Default %}
        (Default)
    {% endif %}
    </h4>
    {% for key2, value2 in value.trustroot.items %}
        <li class="indented"> {{ value2 }} </li>
    {% empty %}
    There is no trusted site for this identity.
    {% endfor %}
    {% if not value.Default %}
        <input type = "submit" name= {{ value.caption }} value = "Make default" />
    {% endif %}
    <input type = "submit" name = {{ value.caption }} value = "Remove"/>
</p>
{% endfor %}
</form>
</fieldset>
{% else %}
<p> You have no OpenID account for the moment</p>
{% endif %}
<fieldset>
<legend>{% trans "Add a new OpenID identity" %} </legend>
<p>
<form action = "/openid/addopenid/" id = "form2" method = "post">
    <p> Leave blank to create an anonymous OpenID</p>
    {{ uri }}{{ oipath }}/{{ form.openid }}/
    {{ form.Default }}
    Check if you want this OpenID account become your default OpenID account.
    <input type = "submit" value = "Add" />
    </p>
</form>
{% endblock %}
</fieldset>
