{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Manage OpenID" %}
{% endblock %}

{% block content %}
{% if message %}
<ul class="errorlist">{{ message }}</ul>
{% endif %}
<p>
<a href="/openid/manage/">Manage your Trusted root</a>
</p>
<h3> Choose your identities to remove, be careful this will remove all the trustedroot for these identities.</h3>
<form action="." id="form1" method="post">
{% for key,value in openids.items %}
<p>  <h4> {{ uri }}{{ oipath }}/{{ value.caption }}/
    {% if value.Default %}
        (Default)
    {% endif %}
    </h4>
    {% for key2, value2 in value.trustroot.items %}
        <li class="indented"> {{ value2 }} </li>
    {% empty %}
    <span style="margin-left: 50px">There is no trustedroot for this identity</span><br>
    {% endfor %}
    <span style="margin-left: 50px">
    {% if not value.Default %}
        <input type = "submit" name= {{ value.caption }} value = "Make default" />
    {% endif %}
    <input type = "submit" name = {{ value.caption }} value = "Remove"/>
    </span>
    <br>
</p>
{% endfor %}
</form>
<br>
<p>
<form action = "/openid/addopenid/" id = "form2" method = "post">
    <h3>Add a new OpenID identity: </h3>
    {{ uri }}{{ oipath }}/{{ form.openid }}/
    <br>
    Default: 
    {{ form.Default }}
    <br>
    <input type = "submit" value = "Add" />
    </p>
</form>
{% endblock %}
