{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h3>Your Turstedroot for your OpenID identities are : </h3>
 <form action="." id="form" method="post">
 {% for key, value in openids.items %}
    <p> <h4> {{ value.caption }} </h4>
    {% for key2, value2 in value.trustroot.items %}
        <li> {{ value2 }} <input type="checkbox" name = "trustremove" value = {{ key2 }} /> </li>
    {% empty %}
        You have no trustedroot for this openid
    {% endfor %}
    </p>
 {% endfor %}
    <input type="submit" value="Remove" />
 </form>
{% endblock %}

