{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Manage trusted site" %}
{% endblock %}

{% load breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb_url 'Manage OpenID' manage_id %}
{% breadcrumb_url 'Manage trusted site' manage_trustroot %}
{% endblock %}

{% block content %}
<fieldset>
<legend>{% trans "Your trusted site" %} </legend>
<p>Check the trusted site that you want to remove and click on remove to remove these trusted site from these </p>
 <form action="." id="form" method="post">
 {% for key, value in openids.items %}
    <p> <h4> {{ uri }}{{ oipath }}/{{ value.caption }}/ </h4>
    <ul class="NoBullet">
    {% for key2, value2 in value.trustroot.items %}
        <li class="indented"> <input type="checkbox" name = "trustremove" value = {{ key2 }} /> {{ value2 }} </li>
    {% empty %}
        You have no trusted site for this openid
    {% endfor %}
    </ul>
    </p>
 {% endfor %}
 {% if trust_sum != 0 %}
    <br><input type="submit" value="Remove" />
 {% endif %}
 </form>
 </fieldset>
{% endblock %}

