{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Log in" %}
{% endblock %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form id="login-form" method="post" action=".">
   {% csrf_token %}
   {{ form.as_p }}

  <input type="submit" value="{% trans 'Log in' %}" class="submit" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>

<div class="login-actions">
<p>→ {% trans "Forgot password?" %} <a href="{% url auth_password_reset %}">{% trans "Reset it!" %}</a></p>
<p>→ {% trans "Not a member?" %} <a href="{% url registration_register %}">{% trans "Register!" %}</a></p>
</div>

<div id="alt-methods">
{% for method in alt_methods %}
<p><a class="{{ method.class }}" href="{{ method.url }}">{% trans method.caption %}</a></p>
{% endfor %}
</div>

{% if providers_list %}
<div id="login-actions">
{% trans "Log in with a federated account?" %}
</div>
<div>
<form>
    {% csrf_token %}
    <select name="list_providers" size="1" onChange="redirect_from_list(this.form)">
    <option selected="selected">{% trans "Tell me where!" %}</option>
    {% for p in providers_list %}
        <option><a href="/authsaml2/selectProvider/{{ p.entity_id }}" >{{ p.entity_id }}</a></option>
    {% endfor %}
    </select>
</form>
</div>
{% endif %}

<script type="text/javascript">
document.getElementById('id_username').focus();
</script>

{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}jquery/js/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery/js/jquery-ui.js"></script>
{% endblock %}
